/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-itg4hief1n] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-itg4hief1n] {
    flex: 1;
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-6frz6kk9c2] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-6frz6kk9c2] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-6frz6kk9c2] {
    font-size: 1.1rem;
}

.bi[b-6frz6kk9c2] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

