@using HPF.Web.Services
@inject AppState State

<div class="floating-sidebar">

    <h3>HPF Config</h3>

    <label>Rows</label>
    <input type="number" @bind="State.Config.Rows" />

    <label>Cols</label>
    <input type="number" @bind="State.Config.Cols" />

    <label>Generator</label>
    <select @bind="State.Config.Generator">

        <option>Labyrinth</option>
        <option>Noise</option>
        <option>Hardcoded</option>

    </select>

    <label>Algorithm</label>
    <select @bind="State.Config.Algorithm">

        <option>BFS</option>
        <option>AStar</option>

    </select>

    @if (State.Config.Generator == "Noise")
    {
        <label>Noise</label>
        <input type="range"
               min="0"
               max="1"
               step="0.05"
               @bind="State.Config.NoiseLevel" />
    }

    @if (State.Config.Generator == "Hardcoded")
    {
        <label>Map Id</label>
        <input type="number"
               @bind="State.Config.HardcodedMapId" />
    }

    <button @onclick="Generate">
        Generate
    </button>

</div>

@code {

    void Generate()
    {
        State.GenerateMap();
    }
}