@using HPF.model

<div class="floating-sidebar">

    <h3>Map Config</h3>

    <div class="config-group">

        <div class="config-row">
            <label>Rows</label>
            <input type="number" @bind="Rows" />
        </div>

        <div class="config-row">
            <label>Cols</label>
            <input type="number" @bind="Cols" />
        </div>

        <div class="config-row">
            <label>Chunk Size</label>
            <input type="number" @bind="ChunkSize" />
        </div>

    </div>

    <hr />

    <div class="config-group">
        <div class="config-row">
            <label>Generator</label>
            <select @bind="SelectedGenerator">
                <option value="Labyrinth">Labyrinth</option>
                <option value="Noise">Noise Map</option>
            </select>
        </div>

        @if (SelectedGenerator == "Noise")
        {
            <div class="config-row">
                <label>Noise Level</label>
                <input type="range" min="0" max="1" step="0.05" @bind="NoiseLevel" />
            </div>
        }
    </div>

    <hr />

    <div class="config-group">

        <div class="config-row">
            <label>Path Algorithm</label>
            <select @bind="SelectedAlgorithm">
                <option>AStar</option>
                <option>BFS</option>
            </select>
        </div>

        <div class="config-row">
            <label>Gate Algorithm</label>
            <select @bind="SelectedGateAlgorithm">
                <option>AStar</option>
                <option>BFS</option>
            </select>
        </div>

    </div>

    <hr />

    <div class="config-group">

        <div class="toggle-row">
            <input type="checkbox" @bind="ShowChunks" @bind:after="NotifyVisualChange" />
            <span>Show Chunks</span>
        </div>

        <div class="toggle-row">
            <input type="checkbox" @bind="ShowGates" @bind:after="NotifyVisualChange" />
            <span>Show Gates</span>
        </div>

        <div class="toggle-row">
            <input type="checkbox" @bind="ShowConnections" @bind:after="NotifyVisualChange" />
            <span>Show Connections</span>
        </div>

    </div>

    <hr />

    <button class="primary-button" @onclick="Generate">
        Generate
    </button>

    <button class="secondary-button" @onclick="RunPathfinding">
        Find Path
    </button>

</div>

@code {

    [Parameter] public EventCallback<AppConfig> OnGenerate { get; set; }
    [Parameter] public EventCallback<AppConfig> OnRunPathfinding { get; set; }
    [Parameter] public EventCallback<AppConfig> OnVisualConfigChanged { get; set; }

    int Rows = 64;
    int Cols = 64;
    int ChunkSize = 4;

    bool ShowChunks = true;
    bool ShowGates = true;
    bool ShowConnections = false;
    bool ShowPath = true;

    string SelectedAlgorithm = "AStar";
    string SelectedGateAlgorithm = "AStar";

    string SelectedGenerator = "Labyrinth";
    string SelectedNoiseMap = "Noise";
    double NoiseLevel = 0.3;
    // NEW
    string SelectedWorldType = "Maze";

    async Task Generate()
    {
        await OnGenerate.InvokeAsync(BuildConfig());
    }

    async Task RunPathfinding()
    {
        await OnRunPathfinding.InvokeAsync(BuildConfig());
    }

    async Task NotifyVisualChange()
    {
        await OnVisualConfigChanged.InvokeAsync(BuildConfig());
    }

   AppConfig BuildConfig()
    {
        return new AppConfig
        {
            Rows = Rows,
            Cols = Cols,
            ChunkSize = ChunkSize,

            ShowChunks = ShowChunks,
            ShowGates = ShowGates,
            ShowConnections = ShowConnections,
            ShowPath = ShowPath,

            Algorithm = SelectedAlgorithm,
            GateAlgorithm = SelectedGateAlgorithm,

            Generator = SelectedWorldType == "Maze"
                ? SelectedGenerator
                : "None",

            NoiseMap = SelectedWorldType == "Noise"
                ? SelectedNoiseMap
                : "None",

            NoiseLevel = NoiseLevel
        };
    }
}