@using HPF.model
@using HPF.Web.Models

@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JS

<div class="canvas-wrapper"
     @onmousedown="StartPan"
     @onmousemove="Pan"
     @onmouseup="EndPan"
     @onmouseleave="EndPan"
     @onwheel="Zoom">

    <canvas class="grid-canvas" @ref="canvas"></canvas>

</div>
<div class="timeline-panel">

    <button @onclick="TogglePlayback">
        @(isPlaying ? "Pause" : "Play")
    </button>

    <input type="range"
           min="0"
           max="@MaxFrame"
           value="@currentFrame"
           @oninput="OnSliderChanged" />

    <span>
        @currentFrame / @MaxFrame
    </span>

</div>
@code {
    
    [Parameter] public GeneratedMap? Map { get; set; }
    [Parameter] public GridMap? GridMap { get; set; }
    [Parameter] public FinalPathDto? Path { get; set; }
    [Parameter] public AppConfig? Config { get; set; }

    private ElementReference canvas;

    private double offsetX = 20;
    private double offsetY = 20;
    private double scale = 1;

    private bool dragging;
    private double lastX;
    private double lastY;

    private bool _initialized;


    private int currentFrame = 0;

    private bool isPlaying = false;

    private PeriodicTimer? timer;



    private CancellationTokenSource? playCts;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _initialized = true;
            await Draw();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!_initialized)
            return;
        currentFrame = 0;
        await Draw();
    }

    private async Task Draw()
    {
        if (Map is null)
            return;

        await JS.InvokeVoidAsync(
            "gridRenderer.draw",
            canvas,
            Map,
            GridMap is null ? null : ToDto(GridMap),
            Path,
            Config,
            scale,
            offsetX,
            offsetY,
            currentFrame
        );
    }

    private void StartPan(MouseEventArgs e)
    {
        dragging = true;
        lastX = e.ClientX;
        lastY = e.ClientY;
    }

    private async Task Pan(MouseEventArgs e)
    {
        if (!dragging)
            return;

        offsetX += e.ClientX - lastX;
        offsetY += e.ClientY - lastY;

        lastX = e.ClientX;
        lastY = e.ClientY;

        await Draw();
    }

    private void EndPan(MouseEventArgs e)
    {
        dragging = false;
    }

    private async Task Zoom(WheelEventArgs e)
    {
        double zoomSpeed = 0.001;

        scale = Math.Clamp(scale - e.DeltaY * zoomSpeed, 0.1, 8);

        await Draw();
    }
    private GridMapDto ToDto(GridMap grid) {
        return new GridMapDto
        {
            GridSize = grid.GridSize,
            AllGates = grid.GetAllGates()
                .Select(g => new GateDto
                {
                    Pos = g.Pos,
                    Connections = g.Connections.Select(c => c.Pos).ToList()
                })
                .ToList()
        };
    }
    private int MaxFrame =>
    Path?.AnimationSteps?.Count > 0
        ? Path.AnimationSteps.Count - 1
        : 0;
    private async Task TogglePlayback()
    {
        if (isPlaying)
        {
            Pause();
            return;
        }

        await Play();
    }



    private async Task OnSliderChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int value))
        {
            currentFrame = value;

            await Draw();

            StateHasChanged();
        }
    }

    private async Task Play()
    {
        if (Path == null || isPlaying)
            return;

        isPlaying = true;

        playCts = new CancellationTokenSource();

        try
        {
            while (currentFrame < MaxFrame)
            {
                if (playCts.IsCancellationRequested)
                    break;

                currentFrame++;

                await Draw();

                StateHasChanged();

                await Task.Delay(25);
            }
        }
        finally
        {
            isPlaying = false;
        }
    }

    private void Pause()
    {
        isPlaying = false;

        playCts?.Cancel();
    }
    
}