@page "/"

@using HPF.model
@using HPF.Web.Models
@using HPF.Web.Shared
<div class="main-content">

    <ConfigPanel
    OnGenerate="GenerateMap"
    OnRunPathfinding="RunPathfinding"
    OnVisualConfigChanged="UpdateVisuals" />

    <GridCanvas
        Map="currentMap"
        GridMap="gridMap"
        Path="renderPath"
        Config="config" />

</div>

@code {

    GeneratedMap? currentMap;
    GridMap? gridMap;
    FinalPath? currentPath;
    FinalPathDto? renderPath;
    AppConfig config = new();

    async Task GenerateMap(AppConfig cfg)
    {
        config = cfg;

        currentPath = null;
        gridMap = null;
        currentMap = null;

        var builder = new MapGenBuilder()
            .SetMapSize(cfg.Rows, cfg.Cols)
            .WithisStartRestrictedToEdge(cfg.RestrictStartToEdge);

        currentMap = cfg.Generator switch
        {
            "Noise" => builder.GenerateNoiseMap(cfg.NoiseLevel),
            _ => builder.BuildLabyrinth()
        };

        gridMap =
            new GridMapBuilder()
                .WithMapSize(currentMap.Rows, currentMap.Cols)
                .WithGridSize(cfg.ChunkSize)
                .WithMap(currentMap.MapString)
                .Build();

        StateHasChanged();
    }

    async Task RunPathfinding(AppConfig cfg)
    {
        if (gridMap is null)
            return;

        IAlgo algo = cfg.Algorithm == "BFS"
            ? new BFS()
            : new AStar();

        currentPath = gridMap.GetGridPath(algo);

        renderPath = new FinalPathDto
        {
            AnimationSteps = currentPath.animationSteps
                .Select(s => new AnimationStepDto
                {
                    Pos = s.pos,
                    IsVisited = s.isVisited,
                    IsPath = s.isPath
                })
                .ToList()
        };
    }
    void UpdateVisuals(AppConfig cfg)
    {
        config.ShowChunks = cfg.ShowChunks;
        config.ShowGates = cfg.ShowGates;
        config.ShowConnections = cfg.ShowConnections;

        StateHasChanged();
    }
}